<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recycle bin</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>

<div class="">
<h1>Recycle bin</h1>
<hr>
<ul>
  <li></li>
</ul>
</div>
  </body>
</html>
