<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reminder</title>
  </head>
  <body>
    <div class="img" style="height:100px; background-color:black">
        <img src="cid:for@reminder.tt" alt="book" style="margin-left:40%; margin-right:auto; margin-top:20px; width:60px; height:auto;">
    </div>
<div class="" style="background-color:#e5e5e5; ">
  <br>
  <h1 style="text-align:center;">Daily reminder</h1> <br>
  <center style ="font-size:4vw;">Hello user! do not forget to visit your diary and keep track of how your day goes everyday</center><br> <br>
  <div class="" style="letter-spacing:2vw; border:2px dashed black; margin-left:30vw; margin-right:30vw; padding:7px 7px 7px 7px; text-align:center; font-size:20px;">
     <span>M</span>   <span>T</span>   <span>W</span>   <span>T</span>   <span>F</span>   <span>S</span>   <span>S</span>
</div>
  <br>
  <br>
 <a href="google.com" style="
  margin-left:20vw;

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color:white;
  font-size:15px;
  background:blue;
  padding: 8px 17px 8px 17px;
  border:none;
  text-decoration: none;

 ">
 Go to diary
 </a>
</div>

  </body>
</html>
