<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Diary__ sign up</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css ">


  </head>
  <body>



    <style media="screen">
    .seeap{position: relative}

    .seeap .eye {

    position:absolute;

    top: 50%;

    right: 10px;

    z-index: 1;

    color:grey;

    margin-top: -10px;

    cursor: pointer;

    transition: .3s ease all;



    }
    </style>


    <section class="vh-100" style="background-color: #9A616D;"><br>

      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header" style="background-color:#e5e5e5;">
      <img src="https://cdn.pixabay.com/photo/2014/02/13/07/28/security-265130__340.jpg" class="rounded me-2" alt="security" style="width:30px; height:30px;">
      <strong class="me-auto">security</strong>
      <small class="text-muted">11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" style="background-color:#9A616D; color:#e5e5e5;">
      <big>E</big>very data you input into this application is safe under series of encyption so be rest assured that your data is safe in our database.
    </div>
  </div>

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form action="/home" method="post" id="myForm">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">Journal</span>
                  </div> <br>

                <%  if(message.length > 0){ %>
                  <div class="alert alert-warning" role="alert">
                  <%= message %>
                </div>
              <% } %>

                  <br>
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create an account</h5>
                  <div class="form-outline mb-4">
                    <input type="text" id="form2Example17" placeholder="Begin name with capital" class="form-control form-control-lg" name="username" required />
                    <label class="form-label" for="Ebenezer">Name</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example17" class="form-control form-control-lg" name="email" required />
                    <label class="form-label" for="form2Example17">Email address</label>
                  </div>
                  <div class="form-outline mb-4">
                         <div class="seeap">

                    <input type="password" id="form2Example27" class="form-control form-control-lg" data-toggle="password" name="password" style=""  required />

                    <!--  <i class="fa fa-eye input-group-text" id="basic-addon2"></i> -->

                 </div>
                    <label class="form-label" for="form2Example27">Password</label>
                  </div>


                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit" name="sign up" method="post">sign up</button>
                  </div>


                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a href="/login"
                                        style="color: #393f81;">Login</a></p>
                                  <!--  <a href="#!" class="small text-muted">Terms of use.</a>
                                    <a href="#!" class="small text-muted">Privacy policy</a>-->
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<script>
$(document).ready(function() {
    $('.toast').toast("show")
})
const toastElList = document.querySelectorAll('.toast')
const toastList = [...toastElList].map(toastEl => new bootstrap.Toast(toastEl, option))
</script>
<script>


$(document).ready(function(){
$('.seeap').append('<span class="eye fa fa-eye"></span>');
});

$(document).on('click','.seeap .eye', function(){

$(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; });


});

</script>

  </body>
</html>
